<div class="container detalhamento" layout-padding>
      	
    <div class="form-group">
		<label>Início: </label> <span>{{fiancaCtrl.registro.inicio }}</span>
	</div>

	<div class="form-group">
		<label>Fim: </label> <span>{{fiancaCtrl.registro.fim_contrato}}</span>
	</div>
	
	<div class="form-group">
		<label>Indice Reajuste: </label> <span>{{fiancaCtrl.registro.indice_reajuste}}</span>
	</div>
	
	<div class="form-group">
		<label>Período: </label> <span>{{fiancaCtrl.registro.periodo}}</span>
	</div>
</div>
