<style>
.detalhamento .form-group{
	margin-bottom: 2px !important;
}

.detalhamento span{
	padding-right: 10px;
}

.nav-tabs .nav-link{
	background-color: #c7c7c7;
    border-color: gray;
    color: white;
    font-weight: bold;
}

</style>
<div class="row row-center">
	<div class="col-sm-10 col-center">
		<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 5px;">
			<div class="panel-heading">
				<div class="panel-title"><strong>Código SJ: {{fiancaCtrl.registro.codigo}} - {{fiancaCtrl.registro.inquilino}}</strong></div>
			</div>

	<div class="row" style="padding: 10px;">
		<!-- Card Liberty -->
		<div class="card col-sm-3">
		<div style="text-align: center;">
		  <img class="card-img-top" src="./templates/fianca/img/liberty_icone.png" alt="Card image cap" style="width: 20%;">
		</div>
		  <div class="card-body">
		    <p class="card-text"><strong>Análise :</strong> {{fiancaCtrl.registro.processo_liberty}} <br/> <strong>Situação:</strong> {{fiancaCtrl.registro.situacao_analise_liberty}}</p>
		  </div>
		  <button class="btn btn-primary" ng-click="fiancaCtrl.iniciarFormularioContrato('LIB')" ng-if="fiancaCtrl.registro.situacao_analise_liberty.toLowerCase().includes('aprovad')">Contratar
		  <span aria-hidden="true"></span> </button>
		</div>
		
		<!-- Card Porto -->
		<div class="card col-sm-3">
		<div style="text-align: center;">
		  <img class="card-img-top" src="./templates/fianca/img/porto_icone.png" alt="Card image cap" style="width: 20%;">
	    </div>
		  <div class="card-body">
		    <p class="card-text"><strong>Análise :</strong> {{fiancaCtrl.registro.processo_porto}} <br/> <strong>Situação:</strong> {{fiancaCtrl.registro.situacao_analise_porto}}</p>
		  </div>
		  <button class="btn btn-primary" ng-click="fiancaCtrl.iniciarFormularioContrato('POR')" ng-if="fiancaCtrl.registro.situacao_analise_porto.toLowerCase().includes('aprovad')">Contratar
		  <span aria-hidden="true"></span> </button>
		</div>
		
		<!-- Card Too -->
		<div class="card col-sm-3">
		<div style="text-align: center;">
		  <img class="card-img-top" src="./templates/fianca/img/too_icone.png" alt="Card image cap" style="width: 35%;">
		</div>
		  <div class="card-body">
		    <p class="card-text"><strong>Análise :</strong> {{fiancaCtrl.registro.processo_too}} <br/> <strong>Situação:</strong> {{fiancaCtrl.registro.situacao_analise_too}}</p>
		  </div>
		  <button class="btn btn-primary" ng-click="fiancaCtrl.iniciarFormularioContrato('TOO')" ng-if="fiancaCtrl.registro.situacao_analise_too.toLowerCase().includes('aprovad')">Contratar
		  <span aria-hidden="true"></span> </button>
		</div>
		
		<!-- Card Apólice -->
		<div class="card col-sm-3" style="border: none;">
		  <div class="card-body">
		  <p class="card-text"><strong>Apólice :</strong> {{fiancaCtrl.registro.seguradora.includes('ALL') ? '' : fiancaCtrl.registro.apolice}} <br/> 
		  								  <strong>Seguradora :</strong> {{fiancaCtrl.registro.seguradora.includes('ALL') ? '' : fiancaCtrl.getNomeSeguradora(fiancaCtrl.registro)}}</p>
		  </div>
		</div>
	</div>
	
	
	
	
	<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 15px; margin-top: 25px;">
				  <li class="nav-item">
				    <a class="nav-link active" id="aba-1" data-toggle="tab" href=".aba1" role="tab" aria-controls="nav-aba1" aria-selected="true">DADOS DO INQUILINO</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="aba-2" onclick="$('#btnDadosLocacao').click()" data-toggle="tab" href=".aba2" role="tab" aria-controls="nav-aba2" aria-selected="false">DADOS DO PROPRIETÁRIO</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="aba-3" data-toggle="tab" href=".aba3" role="tab" aria-controls="nav-aba3" aria-selected="false">DADOS DA LOCAÇÃO</a>
				  </li>
			</ul>

	<div class="tab-content" id="myTabContent">

				<!-- ABA 1 -->
			  <div class="aba1 tab-pane active" id="nav-aba1" role="tabpanel" aria-labelledby="aba-1">
					<div class="panel-body fixed-panel">

					<div class="bs-example">
						<div class="panel-group" id="accordion">
						
						
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" id="btnDadosPretendente" data-parent="#accordion" href=".collapseTwo">
										Dados Pretendente <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseTwo panel-collapse collapse">
									<div class="panel-body">
										<!-- Detalhamento dados do pretendente -->
										<div data-ng-include="'./templates/fianca/detalhe/dadosPretendenteDetalhe.html'"></div> 
										
									</div>
								</div>
							</div>
						
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href=".collapseOne">
										Residência Atual <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseOne panel-collapse collapse">
									<div class="panel-body">												
										<!-- Detalhamento dados residenciais -->
										<div data-ng-include="'./templates/fianca/detalhe/dadosResidenciaisDetalhe.html'"></div> 
									</div>
								</div>
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href=".collapseNine">
										Dados Profissionais <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseNine panel-collapse collapse">
									<div class="panel-body">
										<!-- Detalhamento dados profissionais -->
										<div data-ng-include="'./templates/fianca/detalhe/dadosProfissionaisDetalhe.html'"></div>								
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href=".collapseAutomacao">
										Composição Renda <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseAutomacao panel-collapse collapse">
									<div class="panel-body">
										<!-- Detalhamento dados composição de renda -->
										<div data-ng-include="'./templates/fianca/detalhe/composicaoRendaDetalhe.html'"></div> 
																					
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
			
			</div>
	</div>
	
		 <!-- ABA 2 -->
		  <div class="aba2 tab-pane" id="nav-aba2" role="tabpanel" aria-labelledby="aba-2">
		  <!-- Detalhamento dados proprietario -->
			<div data-ng-include="'./templates/fianca/detalhe/dadosProprietarioDetalhe.html'"></div>
		  </div>
		  
		  <!-- ABA 3 -->
		  <div class="aba3 tab-pane" id="nav-aba3" role="tabpanel" aria-labelledby="aba-3">
		  <div class="panel-body fixed-panel">

					<div class="bs-example">
						<div class="panel-group" id="accordion">
						
						<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" id="btnDadosLocacao" data-parent="#accordion" href=".collapseContLocacao">
										Dados do Contrato de Locação <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseContLocacao panel-collapse collapse">
									<div class="panel-body">
										<!-- Detalhamento dados imóvel -->
										<div data-ng-include="'./templates/fianca/detalhe/dadosContratoLocacaoDetalhe.html'"></div>																				
									</div>
								</div>
							</div>
														
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href=".collapseEspecial">
										Imóvel Pretendido <span class="caret"></span></a>
									</h4>
								</div>
								<div class="collapseEspecial panel-collapse collapse">
									<div class="panel-body">
										<!-- Detalhamento dados imóvel -->
										<div data-ng-include="'./templates/fianca/detalhe/dadosImovelDetalhe.html'"></div>																				
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
			</div>
		  </div>

	</div>	

			
		</div>
		
		<!-- Importe dos botoes do Form -->
					<div class="form-group last">
						<div class="col-md-12 text-center">
							 <button class="btn btn-primary" 
						      ng-click="fiancaCtrl.voltarParaListagem()">Voltar a listagem <span aria-hidden="true"></span>
						      </button>
						</div>
				</div>

	</div>
	
</div>