<style>
/*classe usada para renderizar bordas vermelhas nos inputs*/
.errorAttribute {
    border-bottom-color: #f56a67 !important;
    border-left-color: #f56a67 !important;
    border-right-color: #f56a67 !important;
    border-top-color: #f56a67 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-group label, input, select{
	margin-right: 15px;
}



.form-group{
	margin-bottom: 20px !important;
}

/*Legenda fieldset*/
fieldset.scheduler-border {
    border: 1px solid #ccc !important;
    border-radius: 7px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 17px;
}

legend{
	margin-bottom: 10px !important;
}

.nav-tabs .nav-link{
	background-color: #c7c7c7;
    border-color: gray;
    color: white;
    font-weight: bold;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

</style>
	<div class="panel-title" style="margin-bottom: 15px;">
		<strong>Código SJ: {{fiancaCtrl.registro.codigo}} - {{fiancaCtrl.registro.inquilino}}</strong><br/><br/>
		<h4 style="color: #FF4500"><strong>Insira os dados complementares para contratação do seguro</strong></h4>
	</div>
			
<!-- Array erros de validação -->
  <div id="listErrors">
    <div class="alert alert-warning" role="alert" ng-if="fiancaCtrl.errors.length > 0">
      <div ng-repeat="erro in fiancaCtrl.errors">
        <span class="glyphicon glyphicon-exclamation-sign"> </span> {{erro}}
      </div>
  </div>
  </div>

			<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 15px; margin-top: 25px;">
				  <li class="nav-item">
				    <a class="nav-link active" id="aba-1" data-toggle="tab" href=".aba1" role="tab" aria-controls="nav-aba1" aria-selected="true">OPÇÕES DE PAGAMENTO</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="aba-2" data-toggle="tab" href=".aba2" role="tab" aria-controls="nav-aba2" aria-selected="false">OPÇÕES DE PAGAMENTO (Não recomendadas)</a>
				  </li>
				  
			</ul>

	<div class="tab-content" id="myTabContent">
				<!-- ABA 1 -->
			  <div class="aba1 tab-pane active" id="nav-aba1" role="tabpanel" aria-labelledby="aba-1">
			  <div class="container">
					<!-- Tabela parcelamento -->
						  <table class="table table-striped">
						    <thead>
						      <tr>
						        <th>Forma de Pagamento</th>
						        <th>Qtd Parcelas</th>
						        <th>Valor das Parcelas</th>
						        <th>*</th>
						      </tr>
						    </thead>
						    
						    <tbody>
						      <tr ng-repeat="parcela in fiancaCtrl.listaRecomendada">
						        <td>{{parcela.formaPagamento}}</td>
						        <td>{{parcela.quantidadeParcelas}}</td>
						        <td>{{parcela.valorPrimeiraParcela | currency:"R$ ":2}}</td>
						        <td><input type="radio" name="optradio1" data-ng-model="fiancaCtrl.regContrato.forma_pagto" 
						        		style="width: 20px; height: 20px"></td>
						      </tr>
						    </tbody>
						  </table>
					</div>
				</div>
	
		 <!-- ABA 2 -->
		  <div class="aba2 tab-pane" id="nav-aba2" role="tabpanel" aria-labelledby="aba-2">
		  	<!-- Tabela parcelamento -->
		  			<div class="container">
						  <table class="table table-striped">
						    <thead>
						      <tr>
						        <th>Forma de Pagamento</th>
						        <th>Qtd Parcelas</th>
						        <th>Valor das Parcelas</th>
						        <th>*</th>
						      </tr>
						    </thead>
						    
						    <tbody>
						      <tr ng-repeat="parcela in fiancaCtrl.listaNaoRecomendada">
						        <td>{{parcela.formaPagamento}}</td>
						        <td>{{parcela.quantidadeParcelas}}</td>
						        <td>{{parcela.valorPrimeiraParcela | currency:"R$ ":2}}</td>
						        <td><input type="radio" name="optradio2" data-ng-model="fiancaCtrl.regContrato.forma_pagto"
						        		 style="width: 20px; height: 20px"></td>
						      </tr>
						    </tbody>
						  </table>
					</div>
		  </div>

	</div>	
						
<form name="formContrato" class="form-inline" role="form" autocomplete="off" ng-init="fiancaCtrl.select2Load()" style="margin-top: 4%;">
	<fieldset class="scheduler-border">
					<legend class="scheduler-border"><b>Dados Complementares</b></legend>	
				
					<div class="form-group ">
						<!-- Proprietário -->
						<label  for="txtProprietario">Proprietário:</label>
                            <input type="text" data-ng-tabindex='1' maxlength="50" requerido
                                   class="form-control" id="txtProprietario"
                                   name="fiancaCtrl.regContrato.proprietario" data-ng-model="fiancaCtrl.regContrato.proprietario">
						
						<!-- Tipo Proprietário -->
						<label for="txtTpProp">Tipo Proprietário:</label>
							<select name="fiancaCtrl.regContrato.tipo_proprietario" data-ng-model="fiancaCtrl.regContrato.tipo_proprietario"
                                    class="form-control" data-ng-tabindex='2' requerido
                                    id="txtTpProp">
                               <option value="F">P.Física</option>
                               <option value="J">P.Jurídica</option>
							</select>
						
						<!-- CPF -->
							<label  for="txtCpf" ng-if="!fiancaCtrl.regContrato.tipo_proprietario || fiancaCtrl.regContrato.tipo_proprietario == 'F'">CPF</label>
	                            <input type="text" data-ng-tabindex='3'   ng-if="!fiancaCtrl.regContrato.tipo_proprietario || fiancaCtrl.regContrato.tipo_proprietario == 'F'"
	                            	   data-mascara-fixa="999.999.999-99" requerido
	                                   class="form-control" id="txtCpf"
	                                   name="fiancaCtrl.regContrato.CPF_proprietario" data-ng-model="fiancaCtrl.regContrato.CPF_proprietario">
						
						<!-- CNPJ -->
							<label for="txtCnpj" ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J'">CNPJ</label>
	                            <input type="text" data-ng-tabindex='3' ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J'"
	                            	   data-mascara-fixa="99.999.999/9999-99" requerido
	                                   class="form-control" id="txtCnpj"
	                                   name="fiancaCtrl.regContrato.CPF_proprietario" data-ng-model="fiancaCtrl.regContrato.CPF_proprietario">
						
					</div>
					
					<div class="form-group ">
					<!-- Responsável pela Empresa -->
						<label for="txtRespEmpresa" ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J' ">Nome Responsável pela Empresa:</label>
							<input type="text" ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J' "
								   class="form-control "
                                   id="txtRespEmpresa" data-ng-tabindex='4'  maxlength="50"
                                   name="fiancaCtrl.regContrato.resp_proprietario"
                                   data-ng-model="fiancaCtrl.regContrato.resp_proprietario">
						
						<!-- CPF Responsável Empresa -->
						<label for="txtCpfResp" ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J' ">CPF Responsável Empresa:</label>
                            <input type="text" ng-if="fiancaCtrl.regContrato.tipo_proprietario == 'J' " 
                            		data-ng-tabindex='5' 
                            	   data-mascara-fixa="999.999.999-99"
                                   class="form-control " id="txtCpfResp"
                                   name="fiancaCtrl.regContrato.CPF_resp_proprietario" 
                                   data-ng-model="fiancaCtrl.regContrato.CPF_resp_proprietario">
						
						<!-- Data Nascimento -->
						<label for="txtDataNasc">Data Nascimento:</label>
							<input type="text" class="form-control"
                                   id="txtDataNasc" data-ng-tabindex='6'  requerido
                                   name="fiancaCtrl.regContrato.data_proprietario" data-datepicker
                                   data-mascara="99/99/9999"
                                   data-ng-model="fiancaCtrl.regContrato.data_proprietario">
						
						<!-- Estado Civíl -->
						<label for="txtEstadoCivil">Estado Civil:</label>
							<select name="fiancaCtrl.regContrato.est_civil_proprietario" requerido
									data-ng-model="fiancaCtrl.regContrato.est_civil_proprietario"
                                    class="form-control " data-ng-tabindex='7'
                                    id="txtEstadoCivil">
                               <option value="SOLTEIRO">Solteiro(a)</option>
                               <option value="CASADO">Casado(a)</option>
                               <option value="SEPARADO">Separado(a)</option>
                               <option value="VIUVO">Viúvo(a)</option>
                               <option value="DIVORCIADO">Divorciado(a)</option>
							</select>
					</div>
					
					
					<div class="form-group ">
					<!-- RG -->
						<label for="txtRg">RG:</label>
                            <input type="text" data-ng-tabindex='8' requerido
                                   class="form-control " id="txtRg" maxlength="15"
                                   name="fiancaCtrl.regContrato.rg_proprietario" 
                                   data-ng-model="fiancaCtrl.regContrato.rg_proprietario">
						
						<!-- Orgão Exp -->
						<label for="txtOrgaoExp">Orgão Exp:</label>
                            <input type="text" data-ng-tabindex='9' requerido
                                   class="form-control " id="txtOrgaoExp"
                                   name="fiancaCtrl.regContrato.orgao_exp_proprietario" 
                                   data-ng-model="fiancaCtrl.regContrato.orgao_exp_proprietario">
						
						<!-- Data Exp -->
						<label for="txtDataExp">Data Exp:</label>
							<input type="text" class="form-control "
                                   id="txtDataExp" data-ng-tabindex='10' requerido
                                   name="fiancaCtrl.regContrato.data_exp_proprietario" data-datepicker
                                   data-mascara="99/99/9999"
                                   data-ng-model="fiancaCtrl.regContrato.data_exp_proprietario">
						
						<!-- Profissão -->
					<label for="profissao">{{fiancaCtrl.regContrato.tipo_proprietario == 'F' ? 'Profissão:' : 'Profissão Responsável Empresa:'}}</label>
						<select class="form-control" id="profissao" ng-model="fiancaCtrl.regContrato.profissao_resp_proprietario" style = "width:350px;">  
							<option ng-if="fiancaCtrl.regContrato.profissao_resp_proprietario != '' || fiancaCtrl.regContrato.profissao_resp_proprietario != undefined">{{fiancaCtrl.select2EditaCombo()}}</option>
						</select>	
					</div>
					
					
					
					<!-- Inicio -->
					<div class="form-group ">
						<label 	for="txtInicio">Início do Contrato de Locação:</label>
							<input type="text" class="form-control "
                                   id="txtInicio" data-ng-tabindex='11'  requerido
                                   name="fiancaCtrl.regContrato.inicio" data-datepicker
                                   data-mascara="99/99/9999"
                                   data-ng-model="fiancaCtrl.regContrato.inicio">
						
						<!-- Fim -->
						<label 	for="txtFim">Fim do Contrato de Locação:</label>
							<input type="text" class="form-control "
                                   id="txtFim" data-ng-tabindex='12'  requerido
                                   name="fiancaCtrl.regContrato.fim_contrato" data-datepicker
                                   data-mascara="99/99/9999"
                                   data-ng-model="fiancaCtrl.regContrato.fim_contrato">
						
						<!-- Indice Reajuste -->
						<label for="txtIndiceReajuste">Indice Reajuste:</label>
						<select name="fiancaCtrl.regContrato.indice_reajuste" data-ng-model="fiancaCtrl.regContrato.indice_reajuste"
                                    class="form-control" data-ng-tabindex='13' requerido
                                    id="txtIndiceReajuste">
                               <option value="1">IGP-M (FGV)</option>
                               <option value="2">IGP-DI (FGV)</option>
                               <option value="3">IPC-(FIPE)</option>
                               <option value="4">IPCA-(IBGE)</option>
                               <option value="5">INPC-(IBGE)</option>
                               <option value="6">ICV-(DIEESE)</option>
                               <option value="7">INCC</option>
                               <option value="8">IPC-FGV</option>
                               <option value="9">Maior Índice</option>
							</select>
						
					</div>
					
				</fieldset>		
				</form>
		
		<!-- Array erros de validação -->
  <div id="listErrors">
    <div class="alert alert-warning" role="alert" ng-if="fiancaCtrl.errors.length > 0">
      <div ng-repeat="erro in fiancaCtrl.errors">
        <span class="glyphicon glyphicon-exclamation-sign"> </span> {{erro}}
      </div>
  </div>
  </div>
		
		<!-- Importe dos botoes do Form -->
					<div class="form-group last">
						<div class="col-sm-12 text-center">
							 <a class="btn btn-success" tabindex="14"
						      	ng-click="fiancaCtrl.enviarFormularioContrato()">Contratar<span aria-hidden="true"></span>
						      </a>
						      
						      <button class="btn btn-danger" 
						      	ng-click="fiancaCtrl.voltarParaDetalhamento()">Cancelar<span aria-hidden="true"></span>
						      </button>
						</div>
				</div>
	
	<!-- Modal -->
  <div class="modal fade" id="modalConfirmacao" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header alert alert-warning">
          <h4 class="modal-title">Alerta</h4>
        </div>
        <div class="modal-body">
          <p>{{fiancaCtrl.response}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
          	ng-click="fiancaCtrl.listarEDetalharRegistro(fiancaCtrl.regContrato.codigo)">OK</button>
        </div>
      </div>
    </div>
  </div>
	
</div>